
    <!-- start header of webpage -->
    <div class="container mw-100">
        <header class="row bg-secondary d-flex justify-content-between">
            <!-- for logo and name of user that sign in  -->
            <div class="col-3 my-2"></div>
            <!-- name of website -->
            <div class="col-5 text-center my-2">
                <a href="" class="text-white text-decoration-none fw-bold fs-3">Fitness Club</a>
            </div>
            <!-- a button that user sign out -->
            <div class="col-3 text-end my-2 me-3">
                <button class="btn btn-danger">Sign out</button>
            </div>
        </header>
    </div>
    <!-- finish header of webpage -->


  