{% macro header()%}
<!-- start header of webpage -->

<div class="container mw-100">
    <header class="row  d-flex justify-content-between">
        <!-- for logo and name of user that sign in  -->
        <div class="col-6 text-start my-2">
            <a href="" class="text-white text-decoration-none fw-bold fs-3">Fitness Club</a>
        </div>
        <!-- name of website -->
        <div class="col-6 text-end my-2">
            {% import "components/button.twig" as buttons %}
            {{buttons.button(

            [
                {
                class : "btn btn-outline-danger text-white border-0 me-2 fw-bold",
                title : "Home",
                event: "home()"
                },
                {
                class : "btn btn-outline-danger text-white border-0 me-2 fw-bold",
                title : "Exercise",
                event: "exercise()"
                },
                {
                class : "btn btn-outline-danger text-white border-0 me-2 fw-bold",
                title : "Sign out",
                event: "LogOut()"
                }
            ]

            )}}
        </div>

    </header>
</div>
<!-- finish header of webpage -->
    <script>
        function LogOut()
        {
            localStorage.removeItem('user-id');
            window.location.href="/login"
        }
        
        function exercise()
        {
            
            window.location.href="/exercise"
        }
        function home()
        {
            
            window.location.href="/main"
        }

    </script>

{% endmacro %}