{% macro navbar() %}
<!-- start navbar -->
<div class="container mw-100">
    <nav class="row  justify-content-center pt-2">

        <!-- 3 buttons that filter our exercise -->
        <div class="col-6 my-2 text-center">
            <div class="btn-group mt-3">
                {% import "components/button.twig" as buttonss %}
                {{buttonss.button(

                [
                {
                class : "btn btn-secondary mx-2 rounded fs-6",
                title : "All",
                event : "selectedFunc(3)"
               
                },
                {
                class : "btn btn-secondary mx-2 rounded fs-6",
                title : "Daily",
                event : "selectedFunc(1)"
                },
                {
                class : "btn btn-secondary mx-2 rounded fs-6",
                title : "Weekly",
                event : "selectedFunc(2)"

                },
                  
                ]

                )}}
                <div class="dropdown">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                        Other Clubs
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/test2" >ShaPouFarEhsan</a></li>
                        <li><a class="dropdown-item" >Pump House</a></li>
                    </ul>
                </div>
            </div>
        </div>


    </nav>
</div>
<!-- finish navbar -->


{% endmacro %}