{% import "components/html.twig" as htmls %}
{{ htmls.html("bg-exercise.jpg")}}



{% block header %}  
{% import "components/header.twig" as headers %}
    {{headers.header()}}
{% endblock %}


{% block main %}  
<main class="pt-3 pb-5">
  <div class="container pt-3 rounded-2">
    {% import "components/form.twig" as forms %}
    {{forms.form()}}
    
    {% import "components/difCard.twig" as editTickets %}
    {{editTickets.editTicket(data)}}
  </div>
</main>


  <script >
        function OnLoad(){
            const checkUserId = localStorage.getItem('user-id');

            if(checkUserId === null)
            {
                window.location.href ='/login'
            }
            else{
                console.log("Logged In")
            }
}
//window.onload= OnLoad();

function crudOperation(){
  console.log('check crud operation')
  return{
    formData:{
      date:'',
      time:'',
      sets:'',
      category:'',
      title:''

    },
    submitForm(){
      //console.log(formData);
      console.log('enter submitForm ');
      fetch('/exercise/add',{
        method:'post',
         headers:{'Content-Type': 'application/json'},
         body: JSON.stringify(this.formData)

      }).then((response)=>{
        response.json()
      }).then((r)=>{
        console.log('check my fetch')
      })
      
    }
  }

}

// {# function getFormData(){
//   return {
//     exeid:'',
  
//   deleteExercise(){
//     console.log('check my delete exercise')
//     fetch('/exercise/de',{
//         method:'post',
//          headers:{'Content-Type': 'application/json'},
//          body: JSON.stringify({this.exe.id})
//     })
// }
//   }
// } #}

  function deleteExercise(exeId){
    //const exeId = document.getElementById(exeid).value
    console.log('mreza',exeId)
    fetch('/exercise/delete',{
        method:'post',
         headers:{'Content-Type': 'application/json'},
         body: JSON.stringify({exeId})
    }).then((response)=>{
               response.json().then(r=>{
                   if(r.answer){
                       //this.status = true;
                       window.location.href ='/exercise'
                   }
                  //  else{
               
                  //      window.location.href ='/main'
                  //  }
                })
           })

  }
//mytest

  function editExercise(){

    return{
      formData:{
        title:'',
        date:'',
        sets:'',
        time:'',
        category:'',

      },
      editFunction(exeId){
        console.log('helia')
        //const exeId = document.getElementById('exeid').value
        this.formData.exeid = exeId;
        console.log(this.formData)
        console.log('enter fetch',exeId);
        fetch('/exercise/edit',{
        method:'post',
         headers:{'Content-Type': 'application/json'},
         body: JSON.stringify(this.formData)
    }).then((response)=>{
               response.json().then(r=>{
                   if(r.answer){
                       //this.status = true;
                       window.location.href ='/exercise'
                   }
                  //  else{
               
                  //      window.location.href ='/main'
                  //  }
                })
           })
          }
  }
}
    </script>
    

{% endblock %}