`{% import "components/html.twig" as htmls %}
{{ htmls.html("bg-exercise.jpg")}}



{% block header %}  
{% import "components/header.twig" as headers %}
    {{headers.header()}}
{% endblock %}


{% block main %}  
<main class="pt-3 pb-5">
  <div class="container pt-3 rounded-2">
    {% import "components/form.twig" as forms %}
    {{forms.form()}}
    
    {% import "components/difCard.twig" as editTickets %}
    {{editTickets.editTicket(userExercise)}}
  </div>
</main>


  <script >
        function OnLoad(){
            const checkUserId = localStorage.getItem('user-id');

            if(checkUserId === null)
            {
                window.location.href ='/login'
            }
            else{
                console.log("Logged In")
            }
}
//window.onload= OnLoad();

function crudOperation(){
  
  return{
    formData:{
      date:'',
      time:'',
      sets:'',
      category:'',
      title:''

    },
    submitForm(){
      fetch('/exercise/add',{
        method:'post',
         headers:{'Content-Type': 'application/json'},
         body: JSON.stringify(this.formData)

      }).then((response)=>{
        response.json()
      }).then((r)=>{
        console.log('check my fetch')
      })
      
    }
  }

}



  function deleteExercise(exeId){
    
    fetch('/exercise/delete',{
        method:'post',
         headers:{'Content-Type': 'application/json'},
         body: JSON.stringify({exeId})
    }).then((response)=>{
               response.json().then(r=>{
                   if(r.answer){
                       window.location.href ='/exercise'
                   }
                  
                })
           })

  }


  function editExercise(){

    return{
      formData:{
        title:'',
        date:'',
        sets:'',
        time:'',
        category:'',

      },
      editFunction(exeId){
        this.formData.exeid = exeId;
        fetch('/exercise/edit',{
        method:'post',
         headers:{'Content-Type': 'application/json'},
         body: JSON.stringify(this.formData)
    }).then((response)=>{
               response.json().then(r=>{
                   if(r.answer){
                       
                       window.location.href ='/exercise'
                   }
                  
                })
           })
          }
  }
}
    </script>
    

{% endblock %}