{% import "components/html.twig" as htmls %}
{{ htmls.html("bg-exercise.jpg")}}



{% block header %}  
{% import "components/header.twig" as headers %}
    {{headers.header()}}
{% endblock %}


{% block main %}  
<main class="pt-3 pb-5">
  <div class="container pt-3 rounded-2">
    {% import "components/form.twig" as forms %}
    {{forms.form()}}
    
    {% import "components/difCard.twig" as editTickets %}
    {{editTickets.editTicket(data)}}
  </div>
</main>


  <script >
        function OnLoad(){
            const checkUserId = localStorage.getItem('user-id');

            if(checkUserId === null)
            {
                window.location.href ='/login'
            }
            else{
                console.log("Logged In")
            }
}
//window.onload= OnLoad();

function crudOperation(){
  console.log('check crud operation')
  return{
    formData:{
      date:'',
      time:'',
      sets:'',
      category:'',
      title:''

    },
    submitForm(){
      //console.log(formData);
      console.log('enter submitForm ');
      fetch('/exercise/add',{
        method:'post',
         headers:{'Content-Type': 'application/json'},
         body: JSON.stringify(this.formData)

      }).then((response)=>{
        response.json()
      }).then((r)=>{
        console.log('check my fetch')
      })
      
    }
  }

}

{# function getFormData(){
  return {
    exeid:'',
  
  deleteExercise(){
    console.log('check my delete exercise')
    fetch('/exercise/de',{
        method:'post',
         headers:{'Content-Type': 'application/json'},
         body: JSON.stringify({this.exe.id})
    })
}
  }
} #}
    </script>
    

{% endblock %}