{% import "components/html.twig" as htmls %}
{{ htmls.html("bg-exercise.jpg")}}



{% block header %}  
{% import "components/header.twig" as headers %}
    {{headers.header()}}
{% endblock %}


{% block main %}  
<main class="pt-3 pb-5">
  <div class="container pt-3 rounded-2">
    {% import "components/form.twig" as forms %}
    {{forms.form()}}
    
    {% import "components/difCard.twig" as editTickets %}
    {{editTickets.editTicket()}}
  </div>
</main>
    
{% endblock %}