<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"></head>
<body >
    <!-- start header of webpage -->
    <div class="container mw-100">
        <header class="row bg-secondary d-flex justify-content-between">
            <!-- for logo and name of user that sign in  -->
            <div class="col-3 my-2"></div>
            <!-- name of website -->
            <div class="col-5 text-center my-2">
                <a href="" class="text-white text-decoration-none fw-bold fs-3">Fitness Club</a>
            </div>
            <!-- a button that user sign out -->
            <div class="col-3 text-end my-2 me-3">
                <button class="btn btn-danger">Sign out</button>
            </div>
        </header>
    </div>
    <!-- finish header of webpage -->

    <!--start main of webpage  -->
    <main class="bg-secondary pt-3 pb-5">
        <div class="container bg-light pt-3 rounded-2">
            <div class="row justify-content-center ">  
            </div>
        </div>
    </main>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>